html {
  font-size: 100%;
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.3;
  letter-spacing: normal;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: white;
  background-color: var(--main);
  z-index: 0;
}
h1, h2, h3, .nav-link, .btn {
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-size: 2.5rem;
  line-height: 3.5rem;
}
:root {
  --intro: hsl(217, 28%, 15%);
  --main: hsl(218, 28%, 13%);
  --footer: hsl(216, 53%, 9%);
  --signup-shadow: hsla(215, 60%, 4%, 0.568);
  --testimonails: hsl(219, 30%, 18%);
  --test-shadow: hsla(217, 27%, 15%, 0.438);
  --cyan: #65e2d9;
  --blue: #339ecc;
  --error: hsl(0, 100%, 63%);
  --lightgrey: hsl(0, 0%,80%);
}

/************* Utility Classes start **************/

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 60px;
  border: none;
  padding: 1rem 5.5rem;
  background: rgb(101,226,217);
  background: linear-gradient(90deg, var(--cyan) 0%, var(--blue) 100%);  
  text-decoration: none;
  color: white;
}
.btn:hover {
  background: var(--cyan);
}
p {
  color: var(--lightgrey);
  line-height: 1.5rem;

}

/************* Utility Classes end **************/

/******************************************* Header Section Starts **************************************************/

/************** Nav start *****************/

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 6rem 0;
  background: var(--intro);
}
.nav-ul {
  display: flex;
  list-style: none;
}
.nav-item {
  margin-left: 4rem;
}
.nav-link {
  text-decoration: none;
  color: white;
  opacity: 80%;
}
.nav-link:hover {
  opacity: 100%;
  text-decoration: underline;
}
.hamburger {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
}

/******************************************* Header Section Starts **************************************************/



/********************************************* Main Section Starts **************************************************/

/****************** Hero Start ******************/

.hero-box {
  background: var(--intro);
  display: flex;
  flex-direction: column;
  padding: auto;
  padding-bottom: 10rem;
  text-align: center;
  align-items: center;
  background-image: url('images/bg-curvy-desktop.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
.hero-content {
  margin-top: 3rem;
  width: 50%;
}
.hero-heading {
  padding: 2.5rem 0;
}
.hero-text {
  font-size: 1.2rem;
  padding: 0 12%;
  line-height: 1.8rem;
  margin-bottom: 4rem;
}
.hero-img {
  width: 100%;
}

/****************** Hero end ******************/

/****************** Features Start ******************/

.features-box {
  width: 100%;
  padding: 0 15vw;
  align-items: center;
  text-align: center;
}
.features-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  align-self: center;
}
.features-col {
  flex: 0 0 50%;
  padding: 0 6vw;
}
.features-img-box {
  height: 6rem;
}
.features-heading {
  margin-bottom: 1rem;
}
.features-text {
  margin-bottom: 5rem;
  line-height: 1.5rem;
}

/****************** Features End ******************/

/****************** CTA Start ******************/

.cta-box {
  width: 100%;
  padding: 2rem 10vw 7rem;
}
.cta-content {
  width: 100%;
  display: flex;
  align-items: center;
}
.cta-img-box {
  flex: 0 0 60%;
  padding-right: 5vw;
}
.cta-text-box {
  flex: 0 0 40%;
}
.cta-img {
  width: 100%;
}
.cta-heading {
  margin-bottom: 1rem;
}
.cta-text {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}
.cta-btn {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--cyan);
  display: flex;
  width: fit-content;
  padding-bottom: 0.3rem;
  align-items: center;
  text-decoration: none;
  color: var(--cyan)
}
.cta-btn-arrow {
  margin-left: 0.3rem;
}
.cta-btn:hover {
  color: white;
  border-color: white;
}

/****************** CTA End ******************/

/************** Testimonials Start *************/

.testimonials-box {
  width: 100%;
  padding: 2% 10% 20%;
}
.testimonials-content {
  width: 100%;
  display: flex;
}
.testimonials-bottom {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.testimonials-bottom-text {
  display: flex;
  flex-direction: column;
}
.testimonials-img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin-right: 1rem;
}
.testimonials-col {
  margin: 0 1rem;
  padding: 2rem 1.5rem;
  background-color: var(--testimonails);
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px var(--test-shadow);
  position: relative;
}
.testimonials-name {
  font-size: 0.8rem;
  letter-spacing: 0.08rem;
}
.testimonials-prof {
  font-size: 0.6rem;
  letter-spacing: 0.05rem;
}
.quotes {
  width: 50px;
  position: absolute;
  margin-top: -4rem;
  margin-left: -2rem;
  z-index: -1;
}

/************** Testimonials End *************/

/************** Sign-up Start *************/

.signup-box {
  width: 100%;
  padding: 0 20%;
  position: relative;
}
.signup-content {
  width: 60vw;
  background-color: var(--intro);
  padding: 3% 5%;
  border-radius: 10px;
  text-align: center;
  box-shadow: 10px 10px 5px 0px var(--signup-shadow);
  position: absolute;
  z-index: 100;
  bottom: -7rem;
}
.signup-heading {
  font-size: 2rem;
}
.signup-text {
  padding: 0 5%;
  margin: 1.5rem 0 2.5rem;
}
.signup-form {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5%;
}
.signup-input {
  width: 65%;
  border-radius: 60px;
  padding: 1rem 3rem;
  border: none;
  color: var(--lightgrey)
}
.signup-btn {
  width: fit-content;
  padding: 1rem 2rem;
  text-transform: none;
  cursor: pointer;
  margin-left: 3%;
}

/********************************************** Main Section Ends ****************************************************/



/************************************************* Footer Starts *****************************************************/

footer {
  padding: 10%;
  padding-top: 12rem;
  background-color: var(--footer);
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-logo {
  width: 10rem;
  margin-bottom: 3rem;
}

.footer-row-text {
  margin-left: 1rem;
}
.footer-media-icon {
  width: 20px;
  margin-left: 2rem;
}
.footer-media-link path:hover {
  fill: var(--cyan);
}
.footer-row--info {
  display: flex;
}
.footer-nav {
  display: flex;
}
.footer-nav-ul {
  list-style: none;
  margin-right: 5rem;
}
.footer-nav-ul li {
  margin-bottom: 1rem;
}
.footer-nav-link {
  text-decoration: none;
  color: var(--lightgrey);
}
.footer-nav-link:hover {
  color: white;
}
.footer-col--info {
  display: flex;
  width: 50%;
}
.footer-location {
  width: 100%;
}
.footer-row-left {
  width: 40%;
  display: flex;
  align-items: flex-start;
  margin-right: 5rem;
}
.footer-row-right {
  display: flex;
  width: 100%;
  align-items:flex-start;
  margin-bottom: 1rem;
}
















/******************************************* Media Query *************************************************************/

@media screen and (max-width: 1270px) {
  .testimonials-box {
    padding-bottom: 20rem;
  }
  .signup-box {
    padding: 0 15%;
    align-content: center;
  }
  .signup-content {
    width: 70%;
    margin: auto;
    padding: 3% 5%;
    bottom: -10rem;
  }
  .signup-form {
    flex-direction: column;
    padding: 0 20%;
    justify-content: center;
    align-items: center;
  }
  .signup-input {
    width: 100%;
  }
  .signup-btn {
    width: 100%;
    margin: 1rem 0;
  }
  footer {
    padding-top: 13rem;
  }
}
@media screen and (max-width: 1200px) {
  .hero-content {
    width: 60%;
  }
  .footer-content {
    flex-direction: column;
  }
  .footer-col--info {
    width: 100%;
  }
  .footer-nav {
    width: 100%;
    margin-top: 3rem;
    padding-left: 2rem;
  }
  .footer-col--media {
    width: 100%;
    margin-top: 3rem;
    justify-content: center;
  }
}
@media screen and (max-width: 1050px) {
  .features-box {
    padding: 0 11vw;
  }
  .cta-box {
    padding: 2rem 6.5vw 5rem;
  }
  .cta-content {
    flex-direction: column;
    padding: 0;
  }
  .cta-text-box, .cta-img-box {
    flex: 0 0 100%;
    padding: 0;
  }
  .cta-img {
    width: 100%;
  }
  .cta-heading {
    margin-top: 3rem;
    text-align: center;
  }
}
@media screen and (max-width: 1000px) {
  .header-nav {
    padding: 2rem 10% 0;
  }
  .hero-content {
    width: 75%;
  }
  .hero-heading {
    font-size: 2.3rem;
  }
  .hero-text {
    font-size: 1rem;
  }
  .features-box {
    padding: 0 10vw;
  }
  .features-col {
    flex: 0 0 50%;
    padding: 0 5vw;
  }
  .testimonials-box {
    padding: 2% 5% 20rem;
  }
  .signup-box {
    padding: 0 10%;
  }
  .signup-content {
    width: 80%;
  }
}
@media screen and (max-width: 850px) {
  .testimonials-box {
    padding: 2% 25% 20rem;
  }
  .testimonials-content {
    flex-direction: column;
  }
  .testimonials-col {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .features-box {
    padding: 0 5vw;
  }
  .features-col {
    padding: 0 4vw;
  }
  .cta-heading {
    font-size: 5.2vw;
  }
}
@media screen and (max-width: 720px) {
  .logo-icon {
    width: 80%;
  }
  .hero-content {
    width: 80%;
  }
  .hero-heading {
    font-size: 2.1rem;
    line-height: 2rem;
    padding: 1.5rem 0;
  }
  .hero-text {
    font-size: 0.9rem;
    padding: 0;
  }
  .features-col {
    flex: 0 0 100%;
    padding: 0 5vw;
  }
  .features-text {
    margin-bottom: 5rem;
  }
  .cta-heading {
    margin: 2vh 0 1vh;
  }
  .footer-col--info {
    flex-direction: column;
  }
  .footer-nav {
    flex-direction: column;
    padding-top: 0;
  }
  .footer-row-left {
    width: 100%;
    margin-bottom: 1rem;
  }
  .footer-nav-ul--2 {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 630px) {
  .nav-item {
    margin-left: 2rem;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 600px) {
  .hero-box {
    background-image: url('images/bg-curvy-mobile.svg');
  }
  .testimonials-box {
    padding: 2% 10% 15rem;
  }
  .signup-content {
    padding-top: 2rem;
  }
  .signup-form {
    padding: 0 5%;
  }
  .signup-input {
    width: 100%;
  }
  .signup-heading {
    font-size: 1.5rem;
  }
  .signup-text {
    font-size: 0.8rem;
    margin: 1rem 0 1.5rem;
  }

}
@media screen and (max-width: 500px) {
  .nav-item {
    margin-left: 1.5rem;
    font-size: 0.72rem;
  }
  .hero-text {
    line-height: 1.5rem;
  }
  .testimonials-box {
    padding: 2% 5% 15rem;
  }
  .testimonials-text {
    font-size: 0.7rem;
  }
  .testimonials-name {
    font-size: 0.7rem;
  }
  .testimonials-prof {
    font-size: 0.6rem;
  }
  .signup-box {
    padding: 0 5%;
  }
  .signup-content {
    width: 90%;
  }
}
@media screen and (max-width: 450px) {
  .logo-icon {
    width: 20vw;
  }
  .nav-item {
    margin-left: 1.5rem;
    font-size: 0.7rem;
  }
  .hero-heading {
    font-size: 1.9rem;
    padding: 1.3rem 0;
  }
  .hero-text {
    font-size: 1rem;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 400px) {
  .hero-heading {
    font-size: 7vw;
    padding: 1.2rem 0;
  }
  .hero-text {
    font-size: 0.9rem;
    padding: 0;
  }
  .hero-btn {
    font-size: 0.9rem;
  }
  .cta-text {
    line-height: 1.3rem;
  }
  .signup-box {
    padding: 0 5%;
  }
  .signup-heading {
    font-size: 1.3rem;
  }
  .signup-content {
    padding: 10% 3% 5%;
  }
}
@media screen and (max-width: 360px) {
  .hero-heading {
    font-size: 6.5vw;
  }
  .hero-text {
    font-size: 0.8rem;
  }
  .hero-btn {
    padding: 0.8rem 25%;
    font-size: 0.8rem;
  }
  .signup-input {
    font-size: 0.7rem;
  }
  .footer-logo {
    width: 9rem;
  }
}